<launch>
    <arg name="vehicle"                     default="innopolis_vtol"    doc="[innopolis_vtol, iris]"/>
    <arg name="vehicle_params"              default="quadrotor_params"  doc="[quadrotor_params, octorotor_params, vtol_params]"/>
    <arg name="mixer"                       default="inno_vtol_mixer"   doc="[inno_vtol_mixer, babyshark_standard_vtol_mixer, direct_mixer]"/>
    <arg name="dynamics"                    default="inno_vtol"         doc="[inno_vtol, quadcopter]"/>
    <arg name="run_rviz"                    default="false"             doc="[true, false]"/>
    <arg name="run_inno_sim_bridge"         default="false"             doc="[true, false]"/>
    <arg name="run_cyphal_communicator"     default="false"             doc="[true, false]"/>
    <arg name="run_dronecan_communicator"   default="false"             doc="[true, false]"/>

    <include file="$(find innopolis_vtol_dynamics)/launch/dynamics.launch">
        <arg name="vehicle"                 value="$(arg vehicle)"/>
        <arg name="vehicle_params"          value="$(arg vehicle_params)"/>
        <arg name="mixer"                   value="$(arg mixer)"/>
        <arg name="dynamics"                value="$(arg dynamics)"/>
        <arg name="run_rviz"                value="$(arg run_rviz)"/>
        <arg name="run_inno_sim_bridge"     value="$(arg run_inno_sim_bridge)"/>
        <arg name="run_cyphal_communicator" value="$(arg run_cyphal_communicator)"/>
        <arg name="run_dronecan_communicator" value="$(arg run_dronecan_communicator)"/>

        <arg name="run_sitl_flight_stack"   value="false"/>
        <arg name="run_sitl_communicator"   value="false"/>
        <arg name="run_hitl_communicator"   value="true"/>
    </include>
</launch>
