<launch>
    <arg name="logging_type"                doc="[standard_vtol, quadcopter]"/>
    <arg name="vehicle_params"              doc="[quadrotor, octorotor, vtol_7kg, vtol_tfm15]"/>
    <arg name="mixer"                       default="vtol_13070_mixer"  doc="[vtol_13070_mixer, babyshark_standard_vtol_mixer, direct_mixer]"/>
    <arg name="dynamics"                    default="vtol_dynamics"     doc="[vtol_dynamics, quadcopter]"/>
    <arg name="run_rviz"                    default="false"             doc="[true, false]"/>
    <arg name="run_inno_sim_bridge"         default="false"             doc="[true, false]"/>
    <arg name="run_cyphal_communicator"     default="false"             doc="[true, false]"/>
    <arg name="run_dronecan_communicator"   default="false"             doc="[true, false]"/>

    <include file="$(find innopolis_vtol_dynamics)/launch/dynamics.launch">
        <arg name="logging_type"            value="$(arg logging_type)"/>
        <arg name="vehicle_params"          value="$(arg vehicle_params)"/>
        <arg name="mixer"                   value="$(arg mixer)"/>
        <arg name="dynamics"                value="$(arg dynamics)"/>
        <arg name="run_rviz"                value="$(arg run_rviz)"/>
        <arg name="run_inno_sim_bridge"     value="$(arg run_inno_sim_bridge)"/>
        <arg name="run_cyphal_communicator" value="$(arg run_cyphal_communicator)"/>
        <arg name="run_dronecan_communicator" value="$(arg run_dronecan_communicator)"/>

        <arg name="run_sitl_flight_stack"   value="false"/>
        <arg name="run_sitl_communicator"   value="false"/>
        <arg name="run_hitl_communicator"   value="true"/>
    </include>
</launch>
