<launch>
    <arg name="vehicle_params" default="vtol_params" doc="[quadrotor_params, octorotor_params, vtol_params]"/>

    <rosparam file="$(find innopolis_vtol_dynamics)/config/$(arg vehicle_params).yaml" command="load" ns="uav/aerodynamics_coeffs" />
    <rosparam file="$(find innopolis_vtol_dynamics)/config/sim_params.yaml" command="load" ns="uav/sim_params" />
    <rosparam file="$(find innopolis_vtol_dynamics)/config/aerodynamics_coeffs.yaml" command="load" ns="uav/aerodynamics_coeffs" />
</launch>
