<launch>
    <arg name="vehicle"                 default="innopolis_vtol"        doc="[innopolis_vtol, iris]"/>
    <arg name="vehicle_params"          doc="[quadrotor, octorotor, vtol_7kg]"/>
    <arg name="mixer"                   default="vtol_13070_mixer"      doc="[vtol_13070_mixer, babyshark_standard_vtol_mixer, direct_mixer]"/>
    <arg name="dynamics"                default="vtol_dynamics"         doc="[vtol_dynamics, quadcopter]"/>
    <arg name="run_rviz"                default="false"                 doc="[true, false]"/>
    <arg name="run_inno_sim_bridge"     default="false"                 doc="[true, false]"/>
    <arg name="run_sitl_flight_stack"   default="true"                  doc="[true, false]"/>

    <include file="$(find innopolis_vtol_dynamics)/launch/dynamics.launch">
        <arg name="vehicle"                 value="$(arg vehicle)"/>
        <arg name="vehicle_params"          value="$(arg vehicle_params)"/>
        <arg name="mixer"                   value="$(arg mixer)"/>
        <arg name="dynamics"                value="$(arg dynamics)"/>
        <arg name="run_rviz"                value="$(arg run_rviz)"/>
        <arg name="run_inno_sim_bridge"     value="$(arg run_inno_sim_bridge)"/>

        <arg name="run_sitl_flight_stack"   value="$(arg run_sitl_flight_stack)"/>
        <arg name="run_sitl_communicator"   value="true"/>
        <arg name="run_hitl_communicator"   value="false"/>
    </include>
</launch>
